body {
	padding: 20px;
	font: 500 16px/1.5 Calibri, Tahoma, sans-serif;
	color: #333;
	}

h1 {
	text-align: center;
	font-family: Cambria, Georgia, serif;
	}

.container {
	margin: 0 0 20px;

	&.root {
		padding: 40px 0 0;
		margin: 0;
		}
	}


.flex {
	display: flex;
	}

.flex_i {
	flex: 1 0 auto;

	&.left {
		text-align: left;
		}

	&.right {
		text-align: right;
		}
	}

.flex-auto {
	margin: auto;
	}


.hidden {
	visibility: hidden;
	}


button {

	font-size: 16px;

	&.animated {
		opacity: 1;
		visibility: visible;

		transition: opacity .5s, visibility 0s;

		&.hidden {
			opacity: 0;

			transition-delay: 0s, .5s;
			}
		}
	}

$h-demo : 400px;
$w-demo : 400px;

.eraser {
	margin: auto;
	}

.eraser-holder {
	position: relative;

	height: $h-demo;
	width: $w-demo;

	border: 10px solid #888;
	border-radius: 5px;
	}

	.eraser-holder_i {
		position: absolute;

		user-select: none;
		}

	// target image
	.eraser-under {
		top: 0; left: 0; right: 0; bottom: 0;
		z-index: 1;
		
		background-color: #333;
		background-repeat: no-repeat;
		background-position: 50%;

		color: #eee;
		font-size: 84px;
		text-align: center;
		line-height: .9;

		pointer-events: none;
		}

	// canvas
	.eraser-cover {
		z-index: 2;

		height: $h-demo;
		width: $w-demo;

		background: #fff; // init background
		cursor: url(../i/trs.gif), text;
		}

	.eraser-pointer {
		position: absolute;
		z-index: 4;

		width: 50px;
		height: 50px;

		background: url(../i/eraser.png) no-repeat;
		background-size: 100% 100%;

		pointer-events: none;
		}

.eraser-info {
	text-align: right;
	}

	.eraser-percent {
		font-size: 20px;
		}
